
.contenedor_principal{
border-color: black;
}

.parrafo{
  justify-items: center;
  font-size: x-large; 
}

  

.circulo{
  width: 50%;
  height: 500px;
  border-radius: 100%;
  background-color: red;
  PADDING: 2REM;
} 
.boton{
  font-size: x-large; 

}
  
.container_numero
.numero_a_mostrar


  
  


